{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}

    <header>
        <h1 class="text-center p-3" style="background-color:#cce3e1; color:#277d75;">Photos</h1>
    </header>

    {% for photo in photos %}
        <div class="text-center">
        <a href="{{ path('photo_show', {'slug': photo.slug}) }}">
            <img id="home_photo_{{photo.id}}" onmouseover="showTitle({{photo.id}})" onmouseout="hideTitle({{photo.id}})" src="{{ asset('/uploads/'~photo.filename) }}" alt="">
        </a>
        <div class="title" id="title_{{photo.id}}">{{ photo.title }}</div>
        </div>

    {% else %}
        <td colspan="5">no records found</td>
    {% endfor %}
    <div class="text-center">
        {{ knp_pagination_render(photos) }}
    </div>
 
    </nav>
    <a href="{{ path('photo_new') }}">Create new</a>

{% endblock %}
