{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}

    <a class="btn btn-success" id="add_photo" href="{{ path('photo_new') }}">Add a photo</a>
    <div class="row" id="photos_container">
        {% for photo in photos %}
            <figure class="col-md-4 pt-2 pb-2 snip0016">
                
                    <img id="home_photo_{{photo.id}}" src="{{ asset('/uploads/'~photo.filename) }}" alt="">
                
                <figcaption class="title" id="title_{{photo.id}}">
                    <h2>{{ photo.title }}</h2>
                    <a href="{{ path('photo_show', {'slug': photo.slug}) }}"></a>
                </figcaption>
            </figure>
        {% endfor %}
    </div>

    {{ knp_pagination_render(photos) }}


{% endblock %}
